
.grid {
	width: 100%;
	
	@include md-up { 
		display: flex;
		flex-wrap: wrap;
	}

	$blockMargin : 3%;

	.block--margins {
		margin-right: $blockMargin;
	}

	&--2 {
		.block { width: 100%; }

		@include md-up {
			.block { width: 50%; }

			.block--margins {
				width: 48.5%;

				&:nth-child(2n) { margin: 0; }
			}
		}

	}

	&--3 {
		
		display: flex;
		flex-wrap: wrap;

		.block { width: 100%; }
		
		@include md-up {
			.block { width: 33%; }

			.block--margins {
				width: 28%;
				margin-right: 6%;

				&:nth-child(3n) { margin: 0; }
			}
		}
		
	}

	&--4 {

		display: flex;
		flex-wrap: wrap;
		
		.block { width: 100%; }

		@include sm-up {
			.block { width: 50%; }

			.block--margins {
				width: 48.5%;

				&:nth-child(2n) { margin: 0; }
			}
		}
		
		@include md-up {
			.block { width: 25%; }

			.block--margins {
				width: 22.75%;

				&:nth-child(2n) { margin-right: $blockMargin; }
				&:nth-child(4n) { margin: 0; }
			}
		}
		
	}

	&--5 {

		display: flex;
		flex-wrap: wrap;
		
		.block { width: 50%; }

		.block--margins {
			width: 48.5%;

			&:nth-child(2n) { margin: 0; }
		}
		
		@include md-up {
			.block { width: 20%; }

			.block--margins {
				width: 17.6%;

				&:nth-child(2n) { margin: $blockMargin; }
				&:nth-child(5n) { margin: 0; }
			}
		}
		
	}

}
