// --------------------------------------------------------------------------------------------------
// Page Builder - Our Partners
// --------------------------------------------------------------------------------------------------

.section__header--our-partners {
    color: $primary;
    margin-bottom: 20px;
}

.our-partners__logo {
    width: 200px;
    padding: 10px 15px;
}