// --------------------------------------------------------------------------------------------------
// Page Builder - Testimonials
// --------------------------------------------------------------------------------------------------

.section--testimonials {
    color: #fff;
    padding: 30px 0 40px;

	@include md-up {
		padding: 50px 0;
	}

	@include lg-up {
		padding: 70px 0;
	}

	@include xl-up {
		padding: 80px 0;
	}
}

.testimonials__wrap {
    @include flex-direction(column);
    margin-top: 40px;

    @include lg-up {
        @include flex-direction(row);
        margin-top: 0;
    }
}

.testimonials__logos,
.testimonials__quotes {
    position: relative;
}

.testimonials__quotes {
    width: 100%;

    @include lg-up {
        margin-right: auto;
        padding: 0;
        width: auto;
    }
}

.testimonials__logos {
    width: 100%;
    @include flexbox;
    @include align-items(center);
    max-width: 500px;

    @include lg-up {
        @include flex-direction(column);
        width: auto;
        max-width: none;;
    }
}

.testimonials__logo {
    padding: 10px;
    width: 33.333%;
    transition: .3s;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 20px;

    &:hover {
        box-shadow: 3px 5px 22px rgba(#000,.15);
    }

    &.active {
        box-shadow: 3px 5px 22px rgba(#000,.35);
    }

    @include lg-up {
        padding: 20px;
        width: 180px;
        height: 130px;
        margin: 5px 0;
    }
}

.testimonials__logo-img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.testimonials__quote {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
    max-width: 500px;
    min-height: 251px;
    padding: 20px;

    @include lg-up {
        text-align: left;
        max-width: 560px;
    }

    &.active {
        position: static;
        visibility: visible;
        opacity: 1;
    }

    p {
        margin: 0;
        line-height: 1.5;
        position: relative;

        &:before,
        &:after {
            content: "“";
            font-size: 10rem;
            position: absolute;
            top: -80px;
            left: -20px;
            opacity: .2;
            float: left;

            @include lg-up {
                left: -50px;
                top: -80px;
            }
            
            @include xl-up {
                left: -70px;
            }
        }

        &:after {
            content: "”";
            top: auto;
            bottom: -150px;
            left: auto;
            right: -20px;

            @include lg-up {
                bottom: -170px;
                right: -60px;
            }
        }
    }

    cite {
        margin-top: 30px;
        display: block;
        font-style: normal;
        text-align: left;
        padding-left: 15px;
        border-left: 3px solid #fff;
        float: right;

        @include md-up {
            margin-top: 40px;
        }
    }

    cite span {
        display: block;
        font-weight: 300;
        font-size: .9rem;
        margin-top: 5px;
    }
}

.testimonials__nav {
    margin: 35px 0;

    @include md-up {
        margin: 45px 0;
    }

    @include lg-up {
        margin: 0 auto 0 50px;
    }
}

.testimonials__nav-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    opacity: .4;
    transition: .3s;

    &:hover {
        opacity: .7;
    }

    &.active {
        opacity: 1;
        box-shadow: 0 0 0 5px $primary, 0 0 0 6px #fff;
        width: 14px;
        height: 14px;
    }

    @include lg-up {
        display: block;
        margin: 20px 0;
    }
}