// --------------------------------------------------------------------------------------------------
// Page Builder - Featured Case Studies
// --------------------------------------------------------------------------------------------------

.fcs-tabs {
    @include flex-direction(column);
    margin-top: 30px;
    position: relative;

    @include md-up {
        @include flex-direction(row);
    }

    &__nav {
        @include order(1);
        @include align-items(flex-end);
        margin-top: 50px;
        position: relative;
        z-index: 50;

        @include md-up {
            @include order(0);
            @include flex-direction(column);
        }
    }

    &__nav-item {
        margin: 0 20px;
        font-size: 1.3rem;
        line-height: 1;
        position: relative;
        cursor: pointer;
        transition: color .3s;

        &:hover {
            color: $highlightGreen;
        }

        @include md-up {
            margin: 15px 0;
            width: 33px;
        }

        &.active {
            color: $highlightGreen;
            font-weight: 900;
            font-size: 1.7rem;

            &:before {
                content: "";
                width: 6px;
                height: 6px;
                background-color: $highlightGreen;
                border-radius: 50%;
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);

                @include md-up {
                    top: 50%;
                    left: 135%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__panels {
        position: relative;
    }

    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        @include flexbox;
        @include flex-direction(column);
        width: 100%;
        transition: .5s;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
            position: relative;
        }

        @include md-up {
            @include flex-direction(row);
            @include flex-wrap(wrap);
        }
    }

    &__text-wrap {
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-content(center);

        @include md-up {
            width: 50%;
            text-align: left;
        }

        @include lg-up {
            width: 54%;
            max-width: 550px;
            padding-left: 120px;
            margin-left: auto;
        }

        @include xl-up {
            margin: 0 auto;
        }

        .fcs-tabs__cta {
            display: none;

            @include md-up {
                display: inline-block;
            }
        }
    }

    &__title {
        color: $highlightGreen;
        font-size: 1.5rem;
        font-family: Museo;

        @include xl-up {
            font-size: 2rem;
        }
    }

    &__excerpt {
        max-width: 600px;

        @include xl-up {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__stats {
        color: $highlightPink;
        padding: 0 15px;
        margin: 30px 0;

        @include md-up {
            padding: 0;
        }
    }

    &__stat {
        margin-bottom: 20px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        @include lg-up {
            @include flexbox;
            @include align-items(center);
            margin-bottom: 10px;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 106%;
                height: 4px;
                width: 200px;
                border-top: 4px dotted $highlightGreen;
                z-index: 1;
            }
        }
    }

    &__stat-number {
        font-size: 2.8rem;
        font-weight: 900;
        margin: 0;

        @include lg-up {
            width: 45%;
        }

        @include xl-up {
            width: 40%;
        }
    }

    &__stat-text {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.3;

        @include lg-up {
            width: 55%;
            font-size: 1.1rem;
        }

        @include xl-up {
            width: 60%;
        }
    }

    &__img-wrap {
        position: relative;
        z-index: 10;
        @include order(1);
        margin: 0 auto;
        height: 350px;
        /*
        width: 180px;
        height: 310px;
        perspective: 1000px;
        perspective-origin: 150% -130%;
        */

        @include md-up {
            @include order(0);
        }

        @include lg-up {
            height: 450px;
            transform: translateX(35%) translateY(8%);
            /*
            transform: translateX(30%) translateY(-20px);
            width: 280px;
            height: 420px;
            perspective-origin: 0 0;
            perspective: 1000px;
            */
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 224px;
            height: 224px;
            border-radius: 50%;
            background: $highlightGreen;

            @include lg-up {
                width: 324px;
                height: 324px;
            }
        }
    }

    &__img {
        //transform: rotateX(75deg) rotateY(20deg) rotateZ(-40deg);
        height: 100%;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.15));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.15));

        @include lg-up {
            //transform: rotateX(45deg) rotateY(20deg) rotateZ(-25deg);

            /*
            &:hover {
                transform: rotateX(75deg) rotateY(10deg) rotateZ(-20deg);
            }*/
        }
    }

    &__cta {
        margin-top: 40px;
        @include order(2)

        @include md-up {
            display: none;
            margin-top: 20px;
        }
    }
}