// --------------------------------------------------------------------------------------------------
// Page Builder - Gallery
// --------------------------------------------------------------------------------------------------

.gallery {
    margin-top: 30px;

    @include md-up {
        margin-top: 50px;
    }

    &__item {
        padding: 15px;
    }

    &__img {
        display: block;
        width: 100%;
        border-radius: 20px;
    }
}