// --------------------------------------------------------------------------------------------------
// Page Builder - Copy Only
// --------------------------------------------------------------------------------------------------

.section--copy-only.align--header-left {
    @include xl-up {
        padding: 100px 0;
    }
}

.section__header--copy-only {
    text-transform: none;
    
    &:only-child {
        margin-bottom: 1em;

        @include md-up {
            margin: 0;
        }
    }

	@include lg-up {
		font-size: 2.4rem;
	}

    @include xl-up {
        font-size: 2.8rem;
        line-height: 1.3;
    }
    
    // For when the text is in a single column, and there is no subheading
    + .section__copy {
        margin-top: 1.4em;
    }
}

.block--2-col .section__sub-header--copy-only {
    margin-bottom: 1em;

    @include md-up {
        margin-bottom: 0;
    }
}